.nav__cart-link {
  position: relative;
}

.nav__cart-link .cart__counter {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  color: black;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 14px;
  line-height: 16px;
  padding: 4px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transform: translate(-4px, -4px);
  width: 14px;
}

.card__container {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.35);
  display: inline-block;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 20px 25px;
}
